* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  transition: 0.5s;
}
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
:root {
  --balack-primary:#1B1B1B;
  --black-secundary:#242424;
  --yellow-:#FCC26B;
  --white:#FFF;
  --black:#000;
}
body {
  background-color: var(--white);
  color: var(--balack-primary);
}
h1,h2,h3,h4 {
  font-family: "Road Rage", sans-serif;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2024;
  padding: 4.7rem 0;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  gap: 3.7rem;
}
nav a {
  color: #514B4B;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 0.96px;
}
nav a:hover {
  color: var(--black);
}
.icon-rigth {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/*Section Style*/
.s-hero {
  position: relative;
  width: 100%;
  height: 95.5rem;
  background: url("../img/bg-hero.png") no-repeat top center;
  background-size: cover;
 overflow: hidden;
}
.left-text {
  width: 100%;
  max-width: 68rem;
  padding-top: 28.2rem;
}
.title {
  margin-bottom: 4rem;
}
.title h1 {
  color: #868686;
  font-size: 10.5rem;
  line-height: 90%;
}
.title span {
  color: var(--balack-primary);
  font-family: "Road Rage", serif;
}
.title img {
  margin-top: -3rem;
}
.title p {
  color: #8E8E8E;
  font-family: "Roboto Mono", serif;
  font-size: 1.6rem;
  margin-top: 4rem;
 line-height: 24.85px;
 margin-bottom: 4.3rem;
}
button {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 4rem;
  img {
    width: 20px;
    padding-top: 34px;
  }
  span {
    color: var(--black);
   -webkit-text-stroke-width: 0.20px;
   -webkit-text-stroke-color: var(--yellow-);
   font-family: "Road Rage", serif;
   font-size: 2.4rem;
   letter-spacing: 2px;
  }
}
.users {
  display: flex;
  margin-top: 10.5rem;
  align-items: center;
  gap: 1.6rem;
  ul {
    display: flex;
    align-items: center;
    li  {
      background-color: var(--white);
      border: 2px solid var(--yellow-);
      border-radius: 50%;
      width: 47px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -20px;
      &:not(:first-child) {
        margin-left: -10px;
      }
    }
    img {
      width: 30px;
      margin-top: 2px;
    }
  }
  strong {
    color: var(--black-secundary);
    font-size: 1.4rem;
    font-family: "Roboto Mono", serif;
    font-weight: 500;
    margin-top: -20px;
  }
}
.ilustra-hero {
  position: absolute;
  bottom: 15rem;
  right:0;
}
.ilustra-hero img {
  height: 64rem;
}
@media(max-width: 1440px) {
  .ilustra-hero  {
    right: -24rem;
  }
}

/*S-numbers style*/
.s-numbers {
  padding-top: 4rem;
  padding-bottom: 12.2rem;
  p {
    color: var(--balack-primary);
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 10.7rem;
    line-height: 155.3%;
  }
  .box {
    border-radius: 2rem;
    border: 1.5px solid #FFE0B1;
    width: 100%;
    max-width: 85.8rem;
    height: 27.7rem;
    margin: 0 auto;
    position: relative;
    padding: 5px;
  }
  .ilustra {
    position: absolute;
    top: -7.9rem;
    left: -1.6rem;
    z-index: 1;
  }
  .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 4.5rem;
    background-color: var(--yellow-);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    ul {
      display: flex;
      li {
        color: var(--black);
        display: block;
        font-size: 1.4rem;
        line-height: 155.3%;
        margin-bottom: 1.3rem;
        text-align: center;
        padding: 1.5rem 2.1rem;
        &:not(:first-child) {
          border-left: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
      h3 {
        color: var(--white);
        font-size: 6rem;
        font-weight: 400;
        line-height: 0.7;
      }
    }
  }
}

/*s-how-to-use style*/
.s-how-to-use {
  background-color: #F8F8F8F8;
  padding-bottom: 10.4rem;
  position: relative;
}
.container-s-how-to-use {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.left-container {
  position: relative;
  flex: 1;
  max-width: 50rem;
  margin-left: 8rem;
  h2 {
    bottom: 9.5rem;
    color: #C5C5C5C5;
    font-size: 8.4rem;
    font-weight: 400;
    line-height: 72%;
    left: -19rem;
    bottom: 19rem;
    position: absolute;
    transform: rotate(-90deg);
  }
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 4.1rem;
      }
      h3 {
        color: var(--black);
        font-family: "Rock Salt", cursive;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 155.3%;
        margin-bottom: 1.8rem;
      }
      p {
        color: #787878;
        font-size: 1.2rem;
        line-height: 155.3%;
      }
    }
  }
}
.right-container {
  flex: 1;
  max-width: 56.9rem;
  height: 58.9rem;
  position: relative;
  img {
    width: 100%;
    max-width: 50rem;
    height: 50rem;
    margin-top: 16rem;
    position: absolute;
  }
}
.btn-primary {
  background-color: var(--yellow-);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1rem 3.7rem 1rem 5rem;
  transition: background-color .3s ease;
  &:hover {
    background-color: var(--balack-primary);
    span {
      color: var(--white);
    }
    img {
      filter: invert(1);
    }
  }
  span {
    color: var(--black);
    font-family: "Road", sans-serif;
    font-size: 4.6rem;
    font-weight: 400;
    letter-spacing: 2.3px;
    transition: color .3s ease;
  }
  img {
    transition: filter .3s ease;
  }
}
.btn-primary {
  position: absolute;
  left: 50%;
  bottom: -3.5rem;
  margin-left: -13.3rem;
}

/*s-stoies style*/
.s-stories {
  padding-top: 27rem;
  padding-bottom: 16.2rem;

  .titlle {
    text-align: center;
  }
  h4 {
    color: #8E8E8E;
    font-family: "Roboto Mono", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 155.3%;
    margin-bottom: 2.4rem;
    strong {
      color: var(--yellow-);
    }
  }
  h2 {
    color: var(--balack-primary);
    font-size: 45.9rem;
    font-weight: 400;
    line-height: 0.7;
    letter-spacing: 27.54px;
    text-transform: uppercase;
  }

  .text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5.7rem;
    position: relative;
    z-index: 1;
    margin-top: -35rem;
    .description {
      padding-bottom: 13.9rem;
      flex: 1;
      max-width: 44rem;
    }
    p {
      color: var(--black);
      font-size: 1.6rem;
      line-height: 155.3%;
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
  }
}